<%
var posts=site.posts.filter(function(p){
  var postCat=p.categories.first();
  if (postCat){
    return postCat._id === cat._id;
  }else{
    return false;
  }
}).sort('date', 1);

%>
<h4><a href="<%- url_for(cat.path) %>"><%= cat.name %></a></h4>
<ol>
  <% posts.each(function(post){
    %>
    <li>
      <a href="<%- url_for(post.path) %>"><%= post.title %></li></a>
    <%
  }) %>
</ol>